<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
            <p><button id="current-location-weather">Current location forecast</button> </p>
            <p class="warning">**current location may be affected due to your network provider</p>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>
